<div class="center-container log-in-container">
<h2 class="forgot">Забыли пароль?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Создать" %>
  </div>
<% end %>
<div class="variants">
  <%= render "devise/shared/links" %>
</div>
</div>