<!DOCTYPE html>
<html>
  <head>
    <title>Chess</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <header class="header">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if user_signed_in? %>
      <a href="/dashboard/dashboard">Личный кабинет</a>
        <%= link_to "Выйти", destroy_user_session_path, method: :delete %>
        <h1 class="greetings">Привет, <%= current_user.email.to_s.split('@')[0] %></h1>
      <%else %>
        <a href="/users/sign_in">Регистрация/Вход</a>
      <%end %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
